<html>

<body>
    <ion-view title="My Quotes">
        <ion-nav-buttons side="left">
            <button class="right button" ng-click="logout()">Logout</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="right button button-icon icon ion-plus" ng-click="createModal.show()"></button>
        </ion-nav-buttons>
        <ion-content>
            <ion-list show-delete="false" can-swipe="true">
                <ion-item collection-repeat="quote in data.quotes">
                    <div>
                        <h1>"{{quote.text}}"</h1>
                        <h2>-{{quote.author}}</h2>
                    </div>
                    <ion-option-button ng-click="data.quotes.splice($index, 1)" class="button-assertive icon ion-trash-a"></ion-option-button>
                    <ion-option-button ng-click="prepareForEdit($index)" class="button-positive">Edit</ion-option-button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
    <script id="templates/create.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">New Quote</h1>
                <button class="button button-clear button-primary" ng-click="createModal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <label class="item item-input">
                    <span class="input-label">Quote</span>
                    <input ng-model="newQuote.text" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Author</span>
                    <input ng-model="newQuote.author" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Tags</span>
                    <input ng-keypress="saveTags($event,quoteTags)" ng-model="quoteTags" type="text">
                </label>
                <ion-list show-delete="false" can-swipe="false">
                    <ion-item collection-repeat="tag in tags">
                        <ion-checkbox ng-checked="true">{{tag}}</ion-checkbox>
                    </ion-item>
                </ion-list>
                <button class="button button-full button-positive" ng-click="createQuote(newQuote)">Create</button>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/edit.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Edit Quote</h1>
                <button class="button button-clear button-primary" ng-click="editModal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Quote</span>
                        <input ng-model="editedQuote.text" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Author</span>
                        <input ng-model="editedQuote.author" type="text">
                    </label>
                    <button class="button button-full button-positive" ng-click="editQuote(editedQuote)">Save</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</body>

</html>