<ion-view title="My Quotes">
<ion-nav-buttons side="left">
<button class="right button" ng-click="logout()">Logout</button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<button class="right button button-icon icon ion-plus" ng-click="create()"></button>
</ion-nav-buttons>

<ion-content>
<ion-list show-delete="false" can-swipe="true">
<ion-item collection-repeat="quote in data.quotes">
<p>"{{quote.title}}" - Me</p>
<ion-option-button ng-click="data.quotes.splice($index, 1)" class="button-assertive icon ion-trash-a"></ion-option-button>
</ion-item>
</ion-list>
</ion-content>
</ion-view>